<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Course</title>
    <link th:replace="courseH::bootstrap"/>
</head>
<body>

<section class="container">
<h2 class="display-5 text-center">Registered Courses:</h2>
    <hr>
<a th:href="@{/student}" th:insert="courseH::goback"/>

<!--    search course button-->
<a th:href="@{/course/searCourse}">  <input class="btn btn-outline-success  " type="button" value="Search Courses"> </a>


<Table class=" table table-hover">
    <thead class="table-dark">
    <div th:replace="courseH::courseTH"></div>
    <th>Action:</th>
    </thead>

    <tr th:each="a:${student.getCourseList()}">
        <td th:text="${a.courseName}"/>
        <td th:text="${a.teacher.firstName} +' '+ ${a.teacher.lastName}"/>

<!--        drop course button-->
        <td>
            <form action="#" th:action="@{/student/registration/{id} (id=${a.id}) } " th:method="DELETE" >
        <input class="btn btn-outline-dark" type="submit" value="Drop Courses"
               onclick="return confirm('Are You Sure you want to Drop this Course?')">
            </form>
        </td>
    </tr>

</Table>
</section>

</body>
</html>