<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>course</title>

    <script type="text/javascript" th:inline="javascript">

        function info(temp){
            alert(temp+'  added to cart ');
        }
    </script>

    <link th:replace="courseH::bootstrap"/>
</head>
<body>

<section class="container">
<h2> Here are all the courses availiable</h2>
<hr>
<!--regCourse button-->
<a th:href="@{/student/{id}(id=${student.id})}" th:insert="courseH::goback"/>

<!--shopping cart button-->
<a th:href="@{/course/shopping}"  th:insert="courseH::shoppingcart"/>

<Table class=" table table-hover">
    <thead class="table-dark">
    <!--    th-->
    <div th:replace="courseH::courseTH"></div>
<th>Action:</th>
</thead>
<!--    the list-->
<tr th:each="a, iter:${courses}">
    <td th:text="${a.courseName}"/>

<!--    i needed a if statement here if the teacher is null, then display null-->
    <td th:text="${a.teacher.firstName} +' '+ ${a.teacher.lastName}"/>


    <td>
        <a th:href="@{/course/shopping/{sid}/{cid} (sid=${student.id}, cid=${iter.index})} ">
            <input type="button" value="Add To Cart"
                   th:attr="onclick=|info('${a.courseName}')|" >
        </a>
    </td>
</tr>
</Table>
</section>

</body>
</html>