<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h2> Courses Inside Your Shopping Cart</h2>
<hr>
<a th:href="@{/course/searCourse}" th:insert="courseH::goback"/>

<table>
    <th>Key: </th>
    <th>Course Name: </th>
    <th>Teacher Name:</th>


    <tr th:each="i:${shoppingCart}">
        <td th:text="${i.key}"/>
        <td th:text="${i.value.courseName}"/>
        <td th:text="${i.value.teacher.firstName}+' '+ ${i.value.teacher.lastName}"/>
        <td>
        <form style="block: inline" action="#" th:action="@{/course/shopping/(key=${i.key})}"   th:method="delete">
            <input type="submit" value="Delete From Cart"/>
        </form></td>
    </tr>






</table>

</body>
</html>