<!DOCTYPE html >
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link th:replace="courseH::bootstrap"/>

</head>
<body>

    <section class="container">
<h2 class="display-5 text-center"> Juny First Course Registration</h2>
<hr>

<table class=" table table-hover">
    <thead class="table-dark">
    <th>ID:</th>
        <th>First Name: </th>
        <th>Last Name: </th>
        <th>Action:</th>
    </thead>
        <tr th:each ="i:${students}">
        <td th:text="${i.id}"/>
        <td th:text="${i.firstName}"/>
        <td th:text="${i.lastName}"/>

<!--            view courses button-->
        <td >
            <a th:href="@{/student/{id} (id=${i.id})  }">
                <input class="btn btn-outline-dark" type="button"value="View Courses"/>
            </a>
        </td>

    </tr>

</table>
    </section>

</body>
</html>