<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
.center{
    text-align: center;
}

p.lead{
    font-size:25px;
}
    </style>

    <link th:replace="courseH::bootstrap"/>
</head>
<body>
<a style="margin-left:12%" th:href="@{/student/{id}(id=${student.id})}" th:insert="courseH::goback"/>
<section class="container center">


<h1 class="display-4">Status</h1>
    <hr class="my-4">
<p class="lead" >Course Register Successful!</p>


</section>
</body>
</html>